/.WodelDescriptionLabelProvider.java._trace
/.WodelDescriptionLabelProvider.xtendbin
/.WodelLabelProvider.java._trace
/.WodelLabelProvider.xtendbin
/WodelDescriptionLabelProvider.java
/WodelLabelProvider.java
