/.EduTestDescriptionLabelProvider.java._trace
/.EduTestDescriptionLabelProvider.xtendbin
/.EduTestLabelProvider.java._trace
/.EduTestLabelProvider.xtendbin
/EduTestDescriptionLabelProvider.java
/EduTestLabelProvider.java
