/.EduTestAndroidAppGenerator.xtendbin
/.EduTestGenerator.java._trace
/.EduTestGenerator.xtendbin
/.EduTestMoodleGenerator.java._trace
/.EduTestMoodleGenerator.xtendbin
/.EduTestWebGenerator.xtendbin
/.EduTestiOSAppGenerator.java._trace
/.EduTestiOSAppGenerator.xtendbin
/EduTestGenerator.java
/EduTestMoodleGenerator.java
/EduTestiOSAppGenerator.java
/.EduTestAndroidAppGenerator.java._trace
/.EduTestWebGenerator.java._trace
/EduTestAndroidAppGenerator.java
/EduTestWebGenerator.java
