/.WodelGenerator.java._trace
/.WodelGenerator.xtendbin
/.WodelMutatorGenerator.xtendbin
/.WodelUseGenerator.java._trace
/.WodelUseGenerator.xtendbin
/WodelGenerator.java
/WodelUseGenerator.java
/.WodelMutatorGenerator.java._trace
/WodelMutatorGenerator.java
